body {
  font-family: "Host Grotesk", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
}
#colorContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 20px;
}
.color-box {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  text-align: center;
  border-radius: 5px;
}
.color-box.original {
  border: 3px solid #000;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  transform: scale(1.05);
}
